body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align:justify;
	background: #67C8FF none repeat scroll 0% 0%; /*#DDDDDD   #1E90FF*/
}

.list{
    border-collapse: collapse;
    text-align: left;
	margin: 20px 20px 20px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list th, td{
	padding:5px;
}

h1{
	font: normal normal normal 20px/bold Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	font-size:16pt;
	color: #000;
	text-shadow: rgba(255, 255, 255, 0.199219) -1px -1px 1px;
	margin-top: 10px;
}


#nav {
	clear:both;
	font-size:11pt;
	margin-bottom: 10px;	
}

#nav ul{
	margin:0;
	padding:0;
}

#nav li{
	float:left;
	border-bottom-width: 0;
	list-style-type:none;
	top: 1px;
	margin-left:30px;
}

#nav a {
	display: block;
	font-weight:bold;
	font-size:12pt;
	color:#0000DD;
	text-decoration:none;
	padding: 5px 15px 0px 10px;
	text-align: center;
	position: relative;
}

#nav .selected{
	border-bottom:2px double;
}


#container {
	width: 768px;
	margin: 0 auto;
}

#content{
	font-size: 10pt;
	font-style: normal;
	margin-top: 10px;
	width: inherit;
	background-color: #FFFFFF;
	left: auto;
	padding:15px 20px 15px 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	/*
	-webkit-box-shadow:5px 5px 5px #999;
	-moz-box-shadow:5px 5px 5px #999;
	*/
}

#content ul, li{
	list-style-type: disc;
	margin-left: 20px;
}

#footer ul{
	color: #000000;
	font-size: 10pt;
}

#footer li{
	list-style-type: none;
	float:left;
}
