body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align:justify;
}

.list{
    border-collapse: collapse;
    text-align: left;
	margin: 20px 20px 20px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list th, td{
	padding:5px;
}

#header{
float:left;
}


h1{
font: normal normal normal 20px/bold Arial, Tahoma, Helvetica, FreeSans, sans-serif;
font-size:16pt;
color: #000;
text-shadow: rgba(255, 255, 255, 0.199219) -1px -1px 1px;
margin-top: 20px;
}
h2{
font: normal normal normal 20px/normal Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #FFF;
font-size: 140%;
margin-top: -30px;
}
*/
#nav {
	clear:both;
	font-size:11pt;
}

#nav ul{
	margin:0;
	padding:0;
}

#nav li{
	background-color: #fff;
	float:left;
	border: 1px #FFF solid;
	border-bottom-width: 0;
	list-style-type:none;
	top: 1px;
	margin-left:30px;
	
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;

}

#nav a {
	display: block;
	font-weight:bold;
	font-size:10pt;
	color:#0000DD;
	text-decoration:none;
	padding: 5px 15px;
	text-align: center;
	position: relative;
	top: 1px;
	border-radius:10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
}

#nav a:hover{
	text-decoration:underline;
}

#nav .selected{
	border-color:#3D8BFF;
	background-color:#66E6FF;
}
#nav .selected a{
	background-color:#66E6FF;
}


#container {
width:768px;
margin:0 auto;
}

#content{
/*float: left;*/
font-size: 10pt;
font-style: normal;
width: inherit;
background-color: #66E6FF;
border: 1px #3D8BFF solid;
padding:15px 20px 15px 20px;
left: auto;

border-radius: 10px;
-moz-border-radius: 10px; /*Firefox*/
}

#footer{
clear:both;
color: #000000;
width:inherit;
font-size: 10pt;
text-align:center;
float:left;
}