body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align:justify;
	background: #67C8FF none repeat scroll 0% 0%;
}


h1{
	font: normal normal normal 20px/bold Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	font-size:16pt;
	color: #000;
	margin-top: 10px;
}

#nav {
	font-size:11pt;
	margin-bottom: 10px;	
}

#nav li{
	float:left;
	border-bottom-width: 0;
	list-style-type:none;
	top: 1px;
	margin-left:30px;
}

#nav a {
	display: block;
	font-weight:bold;
	font-size:12pt;
	color:#0000DD;
	text-decoration:none;
	padding: 5px 10px 0px 10px;
	text-align: center;
	position: relative;
}

#nav .selected{
	border-bottom:2px double;
}

#container {
	width: 768px;
	margin: 0 auto;
}

#content{
	font-size: 10pt;
	background-color: #FFFFFF;
	left: auto;
	padding:10px 20px 10px 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
}

#content ul, li{
	margin-left: 20px;
	list-style-type: none;
	float:left;
	text-decoration:none;
}

.list{
    border-collapse: collapse;
	margin: 20px 0px 20px 20px;
	width:700px;
	table-layout:fixed;	
}

.list td, th{
	padding:7px 0px;
}

.keyword{
	width:120px;
	word-wrap:break-word;
}
